#!/usr/bin/env python
from dynamic_reconfigure.parameter_generator_catkin import *

# Generator constructor
gen = ParameterGenerator()

# Constants
PACKAGE = "omni-robot"
NODE = "omni_model"
FILE = "omni-robot"
PREFIX = "omni_params.h"

EULER = gen.const("euler", int_t, 0, "Eulero integration method")
KR = gen.const("kr", int_t, 1, "integration method")

# Enumerator
odometry_enum = gen.enum([EULER, KR], "Enum of odometry methods")

# Adding the enum to the generator and start
# TODO : gen.add("mode", bool_t, )
gen.add("odometry", int_t, 1, "Odometry methods", 1, 0, 1, edit_method=odometry_enum)

# Terminate the configuration
exit(gen.generate(PACKAGE, NODE, PREFIX))