<launch>
  <!--- Run omni_model node -->
  <node pkg="omni-robot" type="omni_model" respawn="false" name="omni_model" output="screen">
    <rosparam file="$(find omni-robot)/config/omni-robot.yaml" command="load" />
    <rosparam param="/use_sim_time">true</rosparam>
  </node> 

  <!--- Run omni_tester node -->
  <node pkg="omni-robot" type="omni_tester" respawn="false" name="omni_tester" output="screen">
    <rosparam file="$(find omni-robot)/config/omni-robot.yaml" command="load" />
    <rosparam param="/use_sim_time">true</rosparam>
  </node> 
</launch>
